/* Lists */
ul {
    list-style: none;
    padding-left:0;
}
section ul li:before,
.blog-widget a.vc_read_more {
    font-family: 'FontAwesome';
    content: '\f178';
    color: #5ac4f0;
    list-style: none;
}