/* Navigations
 * 1. On Site Navigation
 * 2. Navigation Bar
 * 3. Footer Navigation
 * 4. Mobile Menu
*/

/* 1. On Site Naviation */

/* 1.1. Back To Top */
#nav-onsite {
    position: fixed;
    right: 15px;
    bottom: 25px;
}
#nav-onsite ul {
    margin:0;
}
#nav-onsite li a {
    padding: 16px 33px 16px 33px;
    background: #fff;
}
/* 1.2. Toggle Offcanvas */

/* 2. Navigation Bar */
.navbar {
    background: rgba(255,255,255,0.9);
    border-bottom: solid 0px #5ac4f0;

    padding-left: 15px; /*SB-EDIT*/
    padding-right: 15px; /*SB-EDIT*/
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
.navbar #mm-toogle {

}
.navbar .nav-icon a {
    padding-bottom: 10px;
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar .navbar-ui {
    height: 93px;
    overflow: hidden;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 5px;
}
/* 3. Footer Navigation */
.footer {
    background: #5ac4f0;
}
.footer a{
    color: #fff;
}
.footer a:hover,
.footer a:focus {
    color: #fafa96;
}

/* 4. Mobile Menu */
.mm-menu {
    background: #fff !important;
}
.mm-menu .mm-list {
    font-size: 1.25;
}
.mm-menu .mm-counter {
    margin-top: -10px;
    right: 60px;
    font-family: "DINNextMedium";
    font-size: 1.25em;
    color: #fff !important;
    background: #5ac4f0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 0 6px 0 5px;
}
/* \f15c fa-file-text , \f097 fa-bookmark-o , \f067 fa-plus */
/* em.mm-counter:after {
    font-family: "FontAwesome";
    content: "\f067";
    margin-left: 5px;
} */
.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen), .mm-menu .mm-list > li.mm-selected > span, .current-menu-item a {
    background: rgba(0, 0, 0, 0.02);
}

