/* Navigations
 * 1. On Site Navigation
 * 2. Navigation Bar
 * 3. Footer Navigation
 * 4. Cart
*/

/* 1. On Site Naviation */

/* 1.1. Back To Top */
#nav-onsite {
    position: fixed;
    right: 15px;
    bottom: 25px;
}
#nav-onsite ul {
    margin:0;
}
#nav-onsite li a {
    padding: 16px 33px 16px 33px;
}

/* 2. Navigation Bar */
.navbar {
    background: transparent;
    border-bottom: solid 0px #000000;
    min-height: 48px;
    z-index: 3;
}
.navbar-brand
{
    text-decoration: none;
    position: absolute;
    padding: 22px 22px !important;
    padding-bottom: 0;
    height: 48px;
    left: 0;
    text-align: left;
    margin: auto;
    color: #fff;
    letter-spacing: 0.5em;
    font-weight: 700;
}
.navbar-brand img {
    margin-left: 47px;
}
.navbar .nav-icon a {
    padding-bottom: 10px;
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar .navbar-ui {
    height: 93px;
    overflow: hidden;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 5px;
}
.back-to-top {
    color: #9b9b9b;
}
.back-to-top:hover {
    color: #000;
}
