.ninja-forms-cont {
    margin: auto;
    padding: 0 0 0 20px;

}

.ninja-forms-cont ul {

    padding: 0;
}

.ninja-forms-cont ul li{

    list-style-type: none;
}

.ninja-forms-cont input[type="radio"], .ninja-forms-cont input[type="checkbox"]{

   margin: 0 20px 0 0;
}
.ninja-forms-cont input[type="checkbox"]{

  width: auto!important;
}
.ninja-forms-cont input[type="submit"]{

    margin: 20px 0 20px 0;
}

.field-wrap {


}

.field-wrap label{

    width: 100%;

}

.ninja-forms-field {

    width: 389px;
}

.state, .country{
height: 34px;
padding-top: 1px;
padding-bottom: 1px;
}