/*custom forms page CSS - SB-EDIT*/


.page{


}
.container-fluid{


}
.section{


}

.section-content{


}

.section-inverse{

background-color: #5ac4f0;
color: #ffffff;

    margin-left: -15px!important;
    margin-right: -15px!important;
}


/*custom forms page CSS - END - SB-EDIT*/