/*custom forms page CSS - SB-EDIT*/


.page{


}
.container-fluid{


}
.section{
    width: 1008px;
}

.section-content{


}

.section-inverse{

    background-color: #000000;
    color: #ffffff;

}


/*custom forms page CSS - END - SB-EDIT*/