/* Widgets
 *
 * 1. Language Selector
 * 2. Info Box
 * */


/* 1. Langauge Selector (Navigaton) */
#polylang-4 ul {
    list-style: none;
    margin-top: 10px;
}
/* 2. Info Box */
.widget.widget_text#text-2 {
    padding: 30px 20px 20px 20px;
    background: #FEFA97;
    text-align: center;
}

/* Recent Posts Blog from VC */
.teaser_grid_container .isotope h2 {

}
.teaser_grid_container .isotope-item h2 {
    font-size: 1.25em;
}