/* Navigations
 * 1. On Site Navigation
 * 2. Navigation Bar
 * 3. Footer Navigation
*/

/* 1. On Site Naviation */

/* 1.1. Back To Top */
#nav-onsite {
    position: fixed;
    right: 15px;
    bottom: 25px;
}
#nav-onsite ul {
    margin:0;
}
#nav-onsite li a {
    padding: 16px 33px 16px 33px;
    background: #fff;
}
/* 1.2. Toggle Offcanvas */

/* 2. Navigation Bar */
.navbar {
    background: rgba(255,255,255,0.9);
    border-bottom: solid 0px #5ac4f0;
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
.navbar #mm-toogle {

}
.navbar .nav-icon a {
    padding-bottom: 10px;
    padding-top: 25px;
}
.navbar .navbar-ui {
    height: 93px;
    overflow: hidden;
}
/* 3. Footer Navigation */
.footer {
    background: #5ac4f0;
}
.footer a{
    color: #fff;
}
.footer a:hover,
.footer a:focus {
    color: #fafa96;
}